.cuerpo{
size:960px;
margin-bottom:50px;

}
.cincuenta{
height:50px;
width:200px;
border-left:4px solid yellow;
border-right:4px solid yellow;
border-top:4px solid yellow;
margin-top:40px;
margin-left:570px;
background-color:yellow;
}

.cien{
height:100px;
width:960px;
border:4px solid blue;
margin-left:200px;
background-color:blue;

}

.dos{
height:100px;
width:200px;
border-left:4px solid yellow;
border-right:4px solid yellow;
margin-left:570px;
background-color:yellow;
}

.quin{
height:50px;
width:500px;;
border:4px solid orange;
margin-left:430px;
background-color:orange;
}
.cincuenta2{
height:50px;
width:200px;
border-left:4px solid yellow;
border-right:4px solid yellow;
margin-left:570px;
background-color:yellow;
}
.quin2{
height:50px;
width:500px;;
border:4px solid red;
margin-left:430px;
background-color:red;
}
.cincuenta3{
height:50px;
width:200px;
border-left:4px solid yellow;
border-right:4px solid yellow;
margin-left:570px;
background-color:yellow;
}

.fin{
height:50px;
width:960px;
border:4px solid yellow;
margin-left:200px;
background-color:yellow;
}
  
